{% extends "layout.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-6">
		<img src="{{ url_for('static', filename= 'seahawks.png')}}" alt="aisha-zach-selfie" width="30px">
		
		</div>
		<div class="col-md-6">
		<img src="{{ url_for('static', filename= 'zachselfie.png')}}" alt="aisha-zach-selfie" width="30px">
			<img src='zachselfie.png' alt="blurry red tshirt">
		</div>
		<div class="col-md-6">
			<img src="{{ url_for('static', filename= 'aisha-zach-selfie.png')}}" alt="aisha-zach-selfie" width="30px">
		</div>
	</div>


	<p>My String: {{my_string}}</p>
	<p>Value from the list: {{my_list[3]}}</p>
	<p>Loop through the list:</p>
	<ul>
	{% for n in my_list %}
	<li>{{n}}</li>
	{% endfor %}
	</ul>

{% endblock %}
